
		<nav>
		
            <div class="jumbotron">
                <h1 class="display-4">Welcome to my blog world!</h1>
                <p class="lead">This is a simple webpage with Python using django as a web framework. Installed on local machine and a local server. Dynamic Content from MYSQL database.
                </p>
                <hr class="my-4">
                <p>It uses bootstrap frame work as a template.</p>
                <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
            </div>

		</nav>


	
